
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
// import bootstrap style at the bottom
@import '~bootstrap/scss/bootstrap.scss';


// overwrite theme
$secondary: red;

// overwrite theme btn ย้อนกลับ
.btn {
    background-color: rgb(173, 162, 162)d5d;
    border: solid 0.5px #B1B1B1;
}

.btn-green:hover {
    background-color: #008556;
    color: #ffff;
}

// overwrite theme btn adcart
.btn-block{
    background-color: #008556;
    color: #ffff;
}
.btn-block:hover{
    background-color: #07442e;
    color: #ffff;
}

// Submit btn
.btnt-green{
    background-color: #008556;
    color: #ffff;
}
.btnt-green:hover{
    background-color: #07442e;
    color: #ffff;
}

// overwrite theme กรอบ รูป
.rounded{
    border: solid 1px #B1B1B1;
}

// Star
.rating svg{
    color: #f8e825;
}
.rating-text{
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
}

// table
table td,
    table th {
        text-align: center;
    }

// carousel
.carousel-caption{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.carousel-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500;
}

.carousel-image {
    width: 100%;
    max-width: 400px; /* ปรับขนาดตามความเหมาะสม */
    max-height: 100%;
}

// bg
.class-Carousel{
    border-radius: 15px;
    border: solid 0.5px #B1B1B1;
    background: #cfcbcb;
}
